@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400&family=Inconsolata:wght@300;400;500&display=swap");

:root {
  --primary-color: #68c95b;
  --secondary-color: #4b5563;
}

body {
  font-family: "Inconsolata", monospace;
  background-color: var(--primary-color);
  margin: 0px;
}

#navigation {
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  background-color: var(--secondary-color);
}

#navigation-heading {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 1rem;
  color: white;
}

#heading-main {
  text-align: center;
}

.input-label {
  display: block;
  margin-bottom: 0.4rem;
}

#container {
  width: 50%;
  margin: auto;
}

input[type="number"] {
  width: 100%;
  margin-bottom: 2rem;
  max-height: 6vh;
  min-height: 4vh;
}

#btn-submit {
  display: block;
  text-align: center;
  border: 0;
  border-radius: 0.2rem;
  margin: auto;
  padding: 0.2rem;
  margin-bottom: 0.3rem;
  font-family: "Inconsolata", monospace;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}

#output {
  text-align: center;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}