@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400&family=Inconsolata:wght@300;400;500&display=swap");

:root {
  --primary-color: #bfdbfe;
  --secondary-color: #4b5563;
}

body {
  font-family: "Inconsolata", monospace;
  background-color: var(--primary-color);
  margin: 0px;
}

#navigation {
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  background-color: var(--secondary-color);
}

#navigation-heading {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 1rem;
  color: white;
  margin-bottom: 0.5rem;
}

#heading-main {
  text-align: center;
}

#container {
  width: 80%;
  margin: auto;
}

.quiz-container {
  width: 100%;
  margin: auto;
  border: 1px solid var(--secondary-color);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: white;
}

.question {
  margin: 1rem 0.8rem;
}

.options {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#btn-submit {
  display: block;
  padding: 0.2rem;
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem auto;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

#output {
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}